@using L2PAPIClient.DataModel
@using MobileL2P.Services
@model MobileL2P.Models.EmailViewModel
@{
    L2PCourseInfoData course = ViewData["ChosenCourse"] as L2PCourseInfoData;

    bool? isEditMode = ViewData["EditMode"] as bool?;

    ViewData["Title"] = Resources.ComposeEmail;

    List<string> allPossibleRecipients = ViewData["allPossibleRecipients"] as List<string>;
}

<nav>
    <div class="nav-wrapper white">
        <div class="col s12">
            <a  href="@Url.Action("WhatsNew", "MyCourses", new{ cId = @course.uniqueid})" class="breadcrumb blue-text" style="font-size: 9px; margin-left: 10px;">@Tools.truncateString(course.courseTitle, 20) @((course.courseTitle != null && course.courseTitle.Length > 20) ? "..." : "")</a>
            <a  href="@Url.Action("Email", "MyCourses", new{ cId = @course.uniqueid})" class="breadcrumb blue-text" style="font-size: 9px">Email</a>
            <a href="#!" class="breadcrumb blue-text" style="font-size: 9px">Compose</a>
        </div>
    </div>
</nav>
<div class="row">
@using (Html.BeginForm("AddEmail", "L2P", new { cId = @course.uniqueid }, FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
{
   
        <div class="row">
         @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        </div>
        <div class="row">
            <div class="input-field col s12">
                <label for="title">@Resources.Subject*</label>
                @Html.TextBoxFor(m => m.subject, new { @class = "validate", type = "text", required = "required" })
                <span class="red-text">@Html.ValidationMessageFor(m => m.subject)</span>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <select multiple name="recipients">
                    <option value="" disabled selected>Choose by roles</option>
                    <option value="managers">Managers</option>
                    <option value="students">Students</option>
                    <option value="extra">Extra Users</option>
                    <option value="tutors">Tutors</option>
                    <option value="" disabled>Choose by groups</option>
                    @if (allPossibleRecipients != null)
                    {
                        foreach (string userGroup in allPossibleRecipients)
                        {
                            <option value="@userGroup">@userGroup</option>
                        }
                    }
                </select>
                <label>Recipients</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <label for="title">CC*</label>
                @Html.TextBoxFor(m => m.cc, new { @class = "validate", type = "text", required = "required" })
                <span class="red-text">@Html.ValidationMessageFor(m => m.cc)</span>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <label for="body">@Resources.Body</label>
                @Html.TextBoxFor(m => m.body, new { @class = "validate", type = "text"})
                <span class="red-text">@Html.ValidationMessageFor(m => m.body)</span>
            </div>
        </div>
        <div class="row">
            <p>@Resources.UploadMessage</p>
            <div class="file-field input-field">
                <div class="btn blue">
                    <span>@Resources.UploadFile</span>
                    <input type="file" id="file" name="file" />
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
        </div>
        <div class="row right-align">
            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.itemId, new { @hidden = "hidden", @Value = isEditMode.HasValue ? Model.itemId + "" : "-1" })
                <button class="btn waves-effect waves-light" type="submit" name="action">
                    Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
}
</div>

<script>

    $(function () {
        $('select[name="recipients"]').material_select();});

</script>

