@using L2PAPIClient.DataModel
@using MobileL2P.Services
@using MobileL2P.Models
@{
    ViewData["Title"] = Resources.Emails;
    L2PRole userRole = ViewData["userRole"] as L2PRole;
    L2PCourseInfoData course = ViewData["ChosenCourse"] as L2PCourseInfoData;
    EmailViewModel email = ViewData["EmailModel"] as EmailViewModel;
    if (email == null) { email = new EmailViewModel(); }
    List<L2PAttachmentElement> attachments = ViewData["attachments"] as List<L2PAttachmentElement>;
}

<nav>
    <div class="nav-wrapper white">
        <div class="col s12">
            <a href="@Url.Action("WhatsNew", "MyCourses", new{ cId = @course.uniqueid})" class="breadcrumb blue-text" style="font-size: 9px; margin-left: 10px;">@Tools.truncateString(course.courseTitle, 20) @((course.courseTitle != null && course.courseTitle.Length > 20) ? "..." : "")</a>
            <a href="@Url.Action("Email", "MyCourses", new{ cId = @course.uniqueid})" class="breadcrumb blue-text" style="font-size: 9px">Emails</a>
            <a href="#!" class="breadcrumb blue-text" style="font-size: 9px">View</a>
        </div>
    </div>
</nav>

<div class="row"></div>
<div class="row">
    <div class="input-field col s12" style="margin-top: 0px">
        <label for="subject">Subject*</label>
        <div id="subject">@email.subject</div>
    </div>
</div>
<div class="row">
    <div class="input-field col s12" style="margin-top: 0px">
        <label for="body">@Resources.Body</label>
        <div id="body">@Html.Raw(email.body)</div>
    </div>
</div>
@if (attachments != null)
{
<div class="row">
    <div class="input-field col s12" style="margin-top: 0px">
        <label for="div_text_area">Attachments</label>
        <div id="div_text_area">
            <ul class="collection">
                @if (attachments != null)
            {
                foreach (L2PAttachmentElement attachment in attachments)
                {
                        <li class="collection-item avatar">
                            <img src="@Tools.getImagePathByFileName(attachment.fileName)" class="circle" style="background-size: 80% !important" />
                            <span class="title"><a href="@Url.Action("DownloadAttachment", "MyCourses", new{url=@attachment.downloadUrl, filename= @attachment.fileName ,cId = @course.uniqueid})">@attachment.fileName</a></span>
                            <a id="a-secondary-content" class="secondary-content" href="@Url.Action("DownloadAttachment", "MyCourses", new{url=@attachment.downloadUrl, filename= @attachment.fileName ,cId = @course.uniqueid})"><i class="material-icons blue-text">get_app</i></a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
 </div>
 }
@if (userRole.role.Contains("managers") || userRole.role.Contains("tutors"))
{
    <div class="fixed-action-btn horizontal" style="bottom: 5px; right: 30px;">
        <a class="btn-floating btn-large blue darken-3">
            <i class="material-icons">menu</i>
        </a>
        <ul>
            <li><a href="#confirmModal" class="btn-floating waves-effect waves-light red modal-trigger"><i class="material-icons">delete</i></a></li>
         </ul>
    </div>

    <!-- Modal Structure -->
    <div id="confirmModal" class="modal bottom-sheet">
        <div class="modal-content">
            <h4>@Resources.DeleteEmails</h4>
            <p>@Resources.DeleteEmailAsk</p>
        </div>
        <div class="modal-footer centered-content">
            <a class="modal-action modal-close waves-effect waves-light btn-flat red white-text">@Resources.No</a>
            <a href="@Url.Action("DeleteEmails", "L2P", new{cId = @course.uniqueid, eIds=@email.itemId})" class="modal-action modal-close waves-effect waves-light btn-flat green white-text ">@Resources.Yes</a>
        </div>
    </div>
  }

<script>
    $(function () {
        $('.modal-trigger').leanModal(); // Set the Modal to Trigger later on
    });
</script>